<?xml version="1.0"?>
<launch>
    <arg name="ip" default="192.168.42.1" />
    <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
        <param name="bebop_ip" value="$(arg ip)" />
    </node>
    <include file="$(find bebop_description)/launch/description.launch" />
</launch>