<launch>
    <group ns="bebop1">
        <param name="tf_prefix" value="bebop1" />
        <include file="$(find bebop_driver)/launch/bebop.launch">
            <arg name="ip" value="192.168.0.101" />
        </include>
    </group>
        
    <group ns="bebop2">
        <param name="tf_prefix" value="bebop2" />
        <include file="$(find bebop_driver)/launch/bebop.launch">
            <arg name="ip" value="192.168.0.102" />
        </include>
    </group>
</launch>